# Dependencies
node_modules

# Build output
dist
build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Môi trường local
.env
.env.*
!.env.example

# Git directory
.git

# OS-specific files
.DS_Store